<header class="header">
  <h1 class="header-heading">
    <a href="{% url 'produtorRural:index' %}" class="header-link">
      Produtores Rurais
    </a>
  </h1>

  <nav class="menu">
    <ul class="menu-list">

      {% if user.is_authenticated %}
      <!--PRODUTOR RURAL-->
        <li class="menu-item">
          <a href="{% url 'produtorRural:index' %}" class="menu-link">Listar Produtores Rurais</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'produtorRural:create' %}" class="menu-link">Cadastrar Produtor Rural</a>
        </li>
      <!--TIPO DE CULTURA-->
        <li class="menu-item">
          <a href="{% url 'produtorRural:indexTipoCultura' %}" class="menu-link">Listar Tipos de Cultura</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'produtorRural:createTipoCultura' %}" class="menu-link">Cadastrar Tipo de Cultura</a>
        </li>
      <!--FAZENDA-->
        <li class="menu-item">
          <a href="#" class="menu-link">Listar Fazendas</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">Cadastrar Fazenda</a>
        </li>
      <!--USUÁRIO-->
        <li class="menu-item">
          <a href="#" class="menu-link">Perfil</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">Sair</a>
        </li>
      {% else %}
        <li class="menu-item">
          <a href="#" class="menu-link">Entrar</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">Registrar</a>
        </li>
      {% endif %}

    </ul>
  </nav>

  <div class="search">
    <form
      action="{% url 'produtorRural:search' %}"
      method="GET"
    >
      <input
        type="search"
        class="search-input"
        placeholder="Search"
        id="search"
        name="q"
        value="{{ request.GET.q.strip }}"
      >
    </form>
  </div>
</header>
