{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site_title }} Produtores Rurais</title>
<link rel="stylesheet" href="{% static 'global/css/style.css' %}">
<link rel="stylesheet" href="{% static 'global/css/apexcharts.css' %}">
<link rel="stylesheet" href="{% static 'global/css/tooplate-mini-finance.css' %}">
<link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'global/css/bootstrap-icons.css' %}">
